.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header > .input-and-btn {
  display: flex;
}

.App-header > .input-and-btn > input {
  padding: 1rem;
  outline: none;
  margin-right: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
}

.App-header > .input-and-btn > button {
  font-size: 1.5rem;
  background-color: #61dafb;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
}

.draggable-box {
  position: absolute;
  cursor: move;
  color: black;
  min-width: 140px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
  text-overflow: inherit;
  display: table;
}

.draggable-box > p {
  /* padding: 0.5rem; */
  max-width: 100%;
}

.draggable-box:hover #btn-delete {
  display: inherit;
}

#btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
  display: none;
}
